<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home</title>
</head>
<body>
	<section>
		<div class="card me-3 ms-3" th:if="${contact}">
			<div>

				<div class="container">
					<!-- <img style="height: 200px; width: 200px"
						class="my_profile_picture mt-2 mb-2"
						th:src="@{'/img/'+${contact.image}}" /> -->
						
						
						<img th:if="${contact.image} eq 'contact.png'"
						style="height: 200px; width: 200px"
								class="my_profile_picture mt-2 mb-2" 
								th:src="@{'/img/'+${contact.image}}"
								 />
								 <img th:unless="${contact.image} eq 'contact.png'"
								 style="height: 200px; width: 200px"
								class="my_profile_picture mt-2 mb-2" 
								th:src="@{${image}+'/'+${contact.image}}"
								 />
						
					<h3 th:text="${contact.name + ' ' + contact.secondName}"
						class="mt-2 mb-2"></h3>

				</div>

				<div class="container text-center">
					<table class="table">
						<tbody>
							<tr>
								<th scope="row">ID</th>
								<td th:text="${contact.cId}"></td>
							</tr>
							<tr>
								<th scope="row">Email</th>
								<td th:text="${contact.email}"></td>
							</tr>
							<tr>
								<th scope="row">Phone Number</th>
								<td th:text="${contact.phone}"></td>
							</tr>
							<tr>
								<th scope="row">Work</th>
								<td th:text="${contact.work}"></td>
							</tr>





						</tbody>
					</table>
					<h2 th:utext="${contact.description}"></h2>

					<a th:onclick="|DeleteContact(${contact.cId})|" class="btn btn-danger d-grid gap-2 col-6 mx-auto mt-2 mb-2">Delete</a>
					<!-- <button class="btn btn-success d-grid gap-2 col-6 mx-auto">Update</button> -->
					
					<form th:action="@{'/user/update-contact/'+${contact.cId}}" method="POST">
									<button type="submit" class="btn btn-success d-grid gap-2 col-6 mx-auto ">Update</button>
								</form>
				</div>

			</div>
			
		</div>
		<div th:unless="${contact}">
				<div class="alert alert-danger me-3 ms-3" role="alert"><h1>You do not have permission to see this page</h1></div>
			</div>

	</section>

</body>
</html>